    .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.mochiy-pop-one-regular {
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: "Mochiy Pop One", sans-serif;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Header container styles */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px; /* Space between header and search */
}

/* H1 (Title) styles */
h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: bold;
    text-align: center;
}


/* Search container styles */
.search-container {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.search-container label {
    font-family: "Poppins", sans-serif;
}

.search-container input::placeholder {
    font-family: "Poppins", sans-serif;
    color: #999; 
}

.search-container input[type="number"],
.search-container input[type="text"],
.search-container button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

input[type="number"] {
    width: 80px;
}

input[type="text"] {
    width: 250px;
}

.error-text {
    font-family: "Poppins", sans-serif;
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

.mindmap-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    fill: black;
}
button.submit {
    background-color: #2c3e50;
    color: white; /* Agar teks terlihat jelas di atas latar belakang biru */
}

    .mindmap-text {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        fill: #FF6500;
    }

    .mindmap-container #mindmap {
        width: 1000px; 
        height: auto;
        padding: 90px;
        background-color: white;
        overflow: hidden; 
    }

    /* Hover effect for journal circles */
    .nodes circle {
    transition: transform 0.3s ease, fill 0.3s ease; /* Pastikan transisi diterapkan ke transform dan fill */
    will-change: transform; /* Memberitahu browser bahwa transform akan sering berubah */
}

.nodes circle:hover {
    fill: #FCFAEE; 
    cursor: pointer;
    transform: scale(1.1); /* Sedikit membesarkan lingkaran */
}

.labels text {
    transition: transform 0.3s ease, fill 0.3s ease; /* Transisi smooth */
    will-change: transform; /* Optimasi untuk hover */
}

.labels text:hover {
    fill: #FCFAEE;
    cursor: pointer;
    transform: scale(1.1); /* Membesarkan teks */
}
